<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW ALL</title>
</head>
<body>
    <h1>Showing a User</h1>
    
    <ul>
        <li th:each="student:${student}">
            <div th:text="${student.uid}" ></div><br>
            <div th:text="${student.name}" ></div><br>
            <div th:text="${student.height}"></div><br>
            <div th:text="${student.weight}"></div><br>
            <div th:text="${student.haircolor}"></div><br>
            <div th:text="${student.gpa}"></div><br>
        </li>
    </ul>
</body>
</html>